.login-card-title {
  width: 250px;
  background-color: cornflowerblue;
  color:white;
}

.login-card-content {
  width: 200px;
  background-color: white;
}

md-icon {
  margin-right: 10px;
  color: cornflowerblue;
}

button {
  margin-top: 10px;
  background-color: cornflowerblue;
  color: white;
}
