body {
    background-color: whitesmoke;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h2 {
    margin-top: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    background-color: powderblue;
}

#newContact {
    display: table;
    padding: 30px;
    margin: auto;
    background-color: white;
    box-shadow: 0px 0px 10px #888888;
}

#contacts {
    display: table;
    padding: 30px;
    margin : 20px auto 0 auto;
    background-color: white;
    box-shadow: 0px 0px 10px #888888;
}

input {
    float: right;
    margin-left: 20px;
}

button {
    width: 75px;
    height: 21px;
    float: right;
}

table, th, td {
    padding: 5px;
    border: 1px solid black;
    border-collapse: collapse;
}

td:first-child + td + td + td + td {
    width: 75px;
    height: 42px;
    border: none;
}

table {
    border: none;
}

table button {
    float: left;
}