h4 {
  margin-bottom: 10px;
  font-size: 24px;
}

md-card {
  width: auto;
  margin-bottom: 10px;
  padding: 10px;
  background-color: cornflowerblue;
}

button {
  background-color: cornflowerblue;
}

md-icon {
  color: white;
}
